.logo {
    width: 250px;
}

img {
    display: block;
    margin: 0 auto;
}

form {
    display: flex;
}

body, input, button {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #202124;
}